@import 'tailwindcss';

@theme {
  /* Primary Colors  */
  --color-primaryColor: #00a63e;
  --color-primaryLight: ;
  --color-srcColor: #006747;

  /* Text Color  */
  --color-textPrimaryColor: white;
  --color-headingColor: ;
  ---color-paragraphColor: ;

  /* Bg color */
  --color-bgPrimary: #41ff6b;

  /* Font Primary */
  --font-FontPrimary: 'Inter', sans-serif;
}

@layer utilities {
  body {
    @apply font-FontPrimary;
  }
  .containerS {
    @apply max-w-[1360px] mx-auto;
  }
  .paddingXl {
    @apply py-3 px-2  sm:px-2.5 sm:py-4;
  }
  .myGradient {
    background: linear-gradient(90deg, #013223 0%, #006747 50%, #013223 100%);
  }
  p {
    font-size: 14px;
    opacity: 0.9;
  }
}
